body {
    padding: 0;
    margin: 0;
}

.alignment-container {
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.selected {
    background-color: skyblue;
}

.calc-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.display-container {
    flex: 1 1 auto;
    height: 100px;
    width:398px;
    background-color: moccasin;
    border: 1px solid black;
    display: flex;
    justify-content: right;
    align-items: center;
    overflow-x: hidden;
}

.display {
    margin-right: 10px;
    font-size: 50px;
    font-family: sans-serif;
}

.button-container {
    display: flex;
}

.number-container {
    display: flex;
    flex-direction: column;
}

.functions {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.numbers,
.bottom{
    display: flex;
    width: 300px;
}

.numbers button,
.bottom button,
.functions button {
    flex: 1 1 auto;
    height: 100px;
}

button.neg {
    width: 100px;
}

button.zero{
    width: 100px;
}

button.dot {
    width: 100px;
}

.bottom button.equals {
    width: 200px;
}

.bottom button.backspace {
    width: 100px;
}

.bottom button.clear {
    width: 100px;
}

button {
    border: 1px solid black;
    font-size: 30px;
}

.numbers button {
    background-color: lightblue;
}

.numbers button:hover {
    background-color: #9bc2cf;
}

.numbers button:active {
    background-color: #8aacb8;
}

.functions button {
    background-color: darkseagreen;
}

.functions button:hover {
    background-color: #80a980;
}

.functions button:active {
    background-color: #729672;
}

.bottom button {
    background-color: darksalmon;
}

.bottom button:hover {
    background-color: #d1876d;
}

.bottom button:active {
    background-color: #ba7861;
}

button.operator.selected {
    background-color: #729672;
}
